:root{
--first-color: hsl(182, 90%, 88%);
--second-color: #f5f5f5;
--third-color: #0c080c;
--fourth-color:rgba(86, 58, 241,.3);
--font: 'Roboto';
--shadow: 10px 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

html {font-size:calc(1em + 1vw)}
button {font-size:inherit}
input{font-size:inherit}

body {
    font-family:var(--font);
    margin:0;
    /*background-color:var(--first-color);*/
    background-image: linear-gradient(rgb(197, 231, 231), rgb(67, 194, 173), rgb(43, 18, 185));
    padding-top:4rem;
    display:grid;
    justify-items:center;

}
/*banner*/
/*using flexbox to create our navbar*/
.banner{
    width:100%;
    display:flex;
    flex-flow:wrap;
    align-items:center;
    list-style-type:none;
    background-color:var(--fourth-color);
    position:fixed;
    top:0;
    color:var(--third-color);
    box-shadow:var(--shadow);
}

.social-menu ul{
    position: absolute;
    top:70%;
    left: 50%;
    padding:0;
    margin: 0;
    transform: translate(-20%, -80%); /* to move the icons around*/
    display: flex;    
}
.social-menu ul li{
    list-style: none;
    margin:0 15px;
}
.social-menu ul li .fa {
    font-size: 30px;
    line-height: 60px;
    transition: .6s;
    color: #000;
}

.social-menu ul li .fa:hover {
    color: #fff;
}

.social-menu ul li a{
    position: relative;
    display: block;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: rgb(176, 245, 245);
    text-align: center;
    transition: .6s;
    box-shadow: 0 5px 4px rgba(0,0,0,.5);
}

.social-menu ul li a:hover {
    transform: translate(0, -10px);
}

.social-menu ul li:nth-child(1) a:hover{
    background-color: #0077B5;
}
.social-menu ul li:nth-child(2) a:hover{
    background-color: #000;
}
.social-menu ul li:nth-child(3) a:hover{
    background-color: #ea4335;
}


/*styling our navigation menu*/
.title{
    margin-left:1em;
    text-align:center;
    font-size:0.75em;
    color:#fff;
}

a{
    color:var(--third-color);
    width:100px;
    text-decoration:none;

}

/*this is used to select elements when you mouse over them*/
a:hover{
    Color:var(--first-color);
}


.banner li {
    display:inline;
    margin: 1rem;
}

.banner ul {
    list-style-type:none;
}

/*about me*/
.about-me{
    display: flex; 
    width: 80vw; 
    padding: .5rem; 
    margin: .2rem; 
    border-radius: 6px; 
    background-color:var (--second-color); 
    box-shadow: var (--shadow);
}

/*to have pictures side by side*/
{
    box-sizing: border-box;
}
  
  .profile-pic{
    float: left;
    width: 33.33%;
    padding: 5px;
  }
  
  /* Clearfix (clear floats) */
  .landscape::after {
    content: "";
    clear: both;
    display: table;
  }


.profile{
    padding: 1em;
}

.about-me-text{
    padding: 1em;
}

/*social media*/
.social-media li{
    font-size: .75em; 
    display : inline;
}
.social-media ul{
    padding: .3rem; 
    list-style-type: none;
}

/*career*/
.career{
    display: flex; 
    margin: .01rem; 
    width: calc (80vw + 2rem);
}
.goals{
    width: 45vw; 
    padding: 2rem; 
    border-radius: 6px; 
    margin-right: 1rem; 
    background-color: var (--second-color); 
    box-shadow: var (--shadow);
}
.skills{
    width: 35vw; 
    padding: 2rem;
    border-radius: 6px; 
    background-color: var (--second-color); 
    box-shadow: var (--shadow);
}
.hobbies{
    display: flex; 
    margin: .5rem; 
    width: calc (80vw + 2rem);
}
.hobbies1{
    width:30vw; 
    padding: 2rem;
    border-radius: 6px; 
    margin-right: 1rem; 
    background-color: var (--second-color); 
    box-shadow: var (--shadow);
}
.hobbies1{
    float: left;
    width: 50.00%;
    padding: 5px;
  }
  
  /* Clearfix (clear floats) */
.soccer-ball::after {
    content: "";
    clear: both;
    display: table;
  }


/*projects*/
.projects{
    display: flex; 
    flex-flow: row wrap; 
    width: 80vw; 
    padding: 1rem; 
    margin: .5rem; 
    border-radius: 6px; 
    background-color: var (--second-color); 
    box-shadow: var (--shadow);
}

.projects h2{
    width: 100%;
    margin: .5rem;
}
.project{
    text-align: center;
    padding: 1rem; 
    margin: 1rem; 
    width: 50%; 
    box-shadow: var (--shadow); 
    color: #fff; 
    background-color: var (--third-color); 
    border-radius: 8px;
}

.project a{
    color: #fff;
}

.project:hover { 
    transition : all 0.3s cubic-bezier(.25,.8,.25,1); 
    box-shadow : 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
} 

/*contact*/
.contact-form{
    display: flex; 
    flex-flow: column; 
    justify-content: center; 
    text-align: center; 
    width: 80vw; 
    padding: 1rem; 
    margin: .5rem; 
    border-radius: 6px; 
    background-color: var (--second-color); 
    box-shadow: var (--shadow);
}
.contact{
    text-align: left; 
    margin: 0 auto;
}
input{
    min-width:30vw; 
    margin-bottom:15px; 
    margin-top:5px; 
    padding:.5 rem;
}

input[type=submit]{ 
    background-color: var(--third-color); 
    color: white; 
    padding: 10px; 
    width: calc (30vw + .5rem); 
    border-radius: 8px; 
    box-shadow: var (--shadow);
}
input[type=submit]:hover{ 
    transition: all 0.3s cubic-bezier (.25,.8,.25,1); 
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}


.projects{
    float: left;
    width: 33.33%;
    padding: 5px;
  }
  
  /* Clearfix (clear floats) */
.contact-form::after {
    content: "";
    clear: both;
    display: table;
  }


/*Resume*/
.jobs{
    display: flex; 
    flex-flow: row wrap; 
    justify-content: center; 
    width: 80vw; 
    margin: .5rem; 
    padding: 2rem; 
    border-radius: 10px; 
    background-color: var (--second-color); 
    box-shadow: var (--shadow);
}
.job{
    padding:1rem;
}

/*education*/
.education{
    width: 80vw;
    margin: .5rem; 
    padding: 1rem;
    border-radius: 10px;
    background-color: var (--second-color); 
    box-shadow: var (--shadow);
}

/*footer*/
.footer{
    margin-top:1rem;
    width:100vw ; 
    background-color:var (--fourth-color); 
    color:#fff; 
    text-align:center}